button {
  height: 90px;
  width: 290px;
  font-size: 28px;
  color: white;
  border: none;
  background-color: blue;
  /* transition의 대상이 되는 property가 너무 많으면, 가독성이 떨어지게 됨 */
  /* transition-property: background-color color width; */

  /* transition-property: all;
	transition-duration: 1000ms;
	* 해당 Code를 한 줄에서 정의할 수 있음.
	IMP : background-color가 바뀌는 시간을 1초 주고, 그것의 동작 시간에 1초 부여
	IMP : 하지만 현재의 형태에서는 1개의 Proprerty만 해당함 -> 컴마를 활용해서 추가한다. 
	IMP : 아래와 같은 정의를 통해서, 동시에 Transition 정의는 가능함 
  transition: background-color 3s ease-in-out 1s, color 2s ease 4s, border-radius 4s ease-out 6s;
	*/
  transition: all 3s ease-in 2s;
}

button:hover {
  background-color: green;
  color: black;
  /* width: 500px; */
  border-radius: 50%;
}
